<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wakedata.dw.open.mapper.connector.ConnectorSecretKeyMapper">
    <resultMap id="BaseResultMap" type="com.wakedata.dw.open.model.connector.ConnectorSecretKeyPo">
        <id column="id" property="id"/>
        <result column="lessee_id" property="lesseeId"/>
        <result column="connector_id" property="connectorId"/>
        <result column="environment_id" property="environmentId"/>
        <result column="name" property="name"/>
        <result column="secret_key" property="secretKey"/>
        <result column="is_enable" property="isEnable"/>
        <result column="description" property="description"/>
        <result column="params_json" property="paramsJson"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    
    <select id="selectBySecretKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select id,lessee_id,connector_id,environment_id,name,secret_key,params_json
        from dw_open_connector_secret_key
        where secret_key = #{secretKey} and is_enable = 1 limit 1
    </select>

    <select id="selectByConnectorId" resultMap="BaseResultMap">
        select id,lessee_id,connector_id,environment_id,name,secret_key,is_enable,description,params_json
        from dw_open_connector_secret_key
        where connector_id = #{connectorId} and lessee_id = #{lesseeId} and is_enable = 1
    </select>

    <select id="pageQuery" resultMap="BaseResultMap">
        select id,lessee_id,connector_id,environment_id,name,secret_key,is_enable,description,params_json
        from dw_open_connector_secret_key
        where lessee_id = #{query.lesseeId}
        <if test="query.connectorId != null">
            and connector_id = #{query.connectorId}
        </if>
        <if test="query.isEnable != null">
            and is_enable = #{query.isEnable}
        </if>
    </select>

</mapper>