<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wakedata.dw.open.mapper.AccessStatisticsMapper">
    <resultMap id="BaseResultMap" type="com.wakedata.dw.open.model.log.AccessStatisticsPo">
        <id column="ID" property="id"/>
        <result column="STAT_TYPE" property="statType"/>
        <result column="RECORD_DATA" property="recordData"/>
        <result column="RECORD_ENTITY_ID" property="recordEntityId"/>
        <result column="DATA_TIME" property="dataTime"/>
        <result column="STAT_TIME" property="statTime"/>
        <result column="RESULT" property="result"/>
        <result column="LESSEE_ID" property="lesseeId"/>
        <result column="data_access_app_id" property="accessAppId"/>
    </resultMap>
    <select id="getLastJob" resultMap="BaseResultMap">
        SELECT ID, STAT_TYPE, RECORD_DATA, RECORD_ENTITY_ID,DATA_TIME, STAT_TIME,  RESULT
        FROM DW_OPEN_ACCESS_STATISTICS
        WHERE ID=(
            SELECT MAX(ID)
            FROM DW_OPEN_ACCESS_STATISTICS
            where STAT_TYPE=#{statType}
        )
    </select>

    <delete id="deleteLastDayQuarterData">
        DELETE FROM DW_OPEN_ACCESS_STATISTICS
        WHERE (STAT_TYPE=2 OR STAT_TYPE=12 OR STAT_TYPE=22 OR STAT_TYPE=32 OR STAT_TYPE=42 OR STAT_TYPE=52) AND DATA_TIME &lt;= str_to_date(DATE_FORMAT(NOW(),'%Y-%m-%d'),'%Y-%m-%d %H:%i:%s')
    </delete>

    <select id="totalCallTimes" resultType="java.lang.Integer">
        SELECT IFNULL(SUM(RESULT),0) FROM DW_OPEN_ACCESS_STATISTICS where (STAT_TYPE=1 OR STAT_TYPE=2)
    </select>

</mapper>