<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wakedata.dw.open.mapper.api.ApiWarnLogMapper">
    <select id="countWarnLogToday" resultType="java.lang.Integer">
        select  count(*) from  DW_OPEN_API_WARN_LOG where  CREATE_TIME >= DATE_FORMAT(
                NOW(),
            '%Y-%m-%d 00:00:00') AND  WARN_CLASSIFY = #{value} and  data_asset_api_id = #{dataAssetApiId}
    </select>


</mapper>